<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Landing Page</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/lptabs.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/wi-feedback.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/all.min.css">
    <script src="js/angular.min.js"></script>
    <script src="js/angular-locale_ru-by.js"></script>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/lptabs.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/wi-feedback.min.js"></script>
    <script src="js/script.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&onload=jQuery.fn.lpMapInit" type="text/javascript"></script>
</head>

<body>

    <header>
        <div class="container">
            <ul>
                <li><a href="#slideshow">Главная</a></li>
                <li><a href="#services">Услуги</a></li>
                <li><a href="#portfolio">Портфолио</a></li>
                <li><a href="#prices">Цены</a></li>
                <li><a href="#contacts">Контакты</a></li>
            </ul>
        </div>
    </header>

    <section id="slideshow">
        <div class="container">
            <div class="lp-content">

                <div class="lp-slider1 owl-carousel">
                    <img src="img/slideshow/slide1.jpg" alt="Продукт 1">
                    <img src="img/slideshow/slide2.jpg" alt="Продукт 2">
                    <img src="img/slideshow/slide3.jpg" alt="Продукт 3">
                </div>

            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="lp-content">
                <h2>Услуги</h2>

                <div class="lp-services">

                    <div title="Услуга 1">
                        <p class="text-center"><strong>Услуга 1</strong></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium id delectus vero temporibus, quae ea minus deleniti reprehenderit nostrum hic asperiores quas facilis ut autem. Consectetur accusamus recusandae quisquam voluptate. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium id delectus vero temporibus, quae ea minus deleniti reprehenderit nostrum hic asperiores quas facilis ut autem. Consectetur accusamus recusandae quisquam voluptate. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium id delectus vero temporibus, quae ea minus deleniti reprehenderit nostrum hic asperiores quas facilis ut autem. Consectetur accusamus recusandae quisquam voluptate.</p>
                        <p class="text-center">
                            <a href="#lp-srv1" class="lp-mfp-inline btn btn-primary">Подробнее</a>
                            <span class="lp-fb1-link btn btn-primary" data-label="Услуга 1">Заказать</span>
                        </p>
                    </div>

                    <div title="Услуга 2">
                        <p class="text-center"><strong>Услуга 2</strong></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium id delectus vero temporibus, quae ea minus deleniti reprehenderit nostrum hic asperiores quas facilis ut autem. Consectetur accusamus recusandae quisquam voluptate.</p>
                        <p class="text-center">
                            <a href="#lp-srv2" class="lp-mfp-inline btn btn-primary">Подробнее</a>
                            <span class="lp-fb1-link btn btn-primary" data-label="Услуга 2">Заказать</span>
                        </p>
                    </div>

                    <div title="Услуга 3">
                        <p class="text-center"><strong>Услуга 3</strong></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium id delectus vero temporibus, quae ea minus deleniti reprehenderit nostrum hic asperiores quas facilis ut autem. Consectetur accusamus recusandae quisquam voluptate. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium id delectus vero temporibus, quae ea minus deleniti reprehenderit nostrum hic asperiores quas facilis ut autem. Consectetur accusamus recusandae quisquam voluptate.</p>
                        <p class="text-center">
                            <a href="#lp-srv3" class="lp-mfp-inline btn btn-primary">Подробнее</a>
                            <span class="lp-fb1-link btn btn-primary" data-label="Услуга 3">Заказать</span>
                        </p>
                    </div>

                    <div title="Услуга 4">
                        <p class="text-center"><strong>Услуга 4</strong></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium id delectus vero temporibus, quae ea minus deleniti reprehenderit nostrum hic asperiores quas facilis ut autem. Consectetur accusamus recusandae quisquam voluptate. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium id delectus vero temporibus, quae ea minus deleniti reprehenderit nostrum hic asperiores quas facilis ut autem. Consectetur accusamus recusandae quisquam voluptate. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium id delectus vero temporibus, quae ea minus deleniti reprehenderit nostrum hic asperiores quas facilis ut autem. Consectetur accusamus recusandae quisquam voluptate. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium id delectus vero temporibus, quae ea minus deleniti reprehenderit nostrum hic asperiores quas facilis ut autem. Consectetur accusamus recusandae quisquam voluptate.</p>
                        <p class="text-center">
                            <a href="#lp-srv4" class="lp-mfp-inline btn btn-primary">Подробнее</a>
                            <span class="lp-fb1-link btn btn-primary" data-label="Услуга 4">Заказать</span>
                        </p>
                    </div>

                </div>

            </div>
        </div>
    </section>

    <section id="portfolio">
        <div class="container">
            <div class="lp-content">
                <h2>Портфолио</h2>

                <div class="lp-slider2 owl-carousel lp-gallery">

                    <a href="img/slideshow/slide1.jpg">
                        <img src="img/slideshow/slide1.jpg" alt="Работа 1">
                    </a>

                    <a href="img/slideshow/slide2.jpg">
                        <img src="img/slideshow/slide2.jpg" alt="Работа 2">
                    </a>

                    <a href="img/slideshow/slide3.jpg">
                        <img src="img/slideshow/slide3.jpg" alt="Работа 3">
                    </a>

                    <a href="img/slideshow/slide1.jpg">
                        <img src="img/slideshow/slide1.jpg" alt="Работа 1">
                    </a>

                    <a href="img/slideshow/slide2.jpg">
                        <img src="img/slideshow/slide2.jpg" alt="Работа 2">
                    </a>

                    <a href="img/slideshow/slide3.jpg">
                        <img src="img/slideshow/slide3.jpg" alt="Работа 3">
                    </a>
                    <a href="img/slideshow/slide1.jpg">
                        <img src="img/slideshow/slide1.jpg" alt="Работа 1">
                    </a>

                    <a href="img/slideshow/slide2.jpg">
                        <img src="img/slideshow/slide2.jpg" alt="Работа 2">
                    </a>

                    <a href="img/slideshow/slide3.jpg">
                        <img src="img/slideshow/slide3.jpg" alt="Работа 3">
                    </a>

                </div>

            </div>
        </div>
    </section>

    <section id="prices" ng-app="lpApp" ng-controller="lpPriceCtrl">
        <div class="container">
            <div class="lp-content">
                <h2>Цены</h2>

                <p ng-hide="prices || reqStatus || reqStatusText" class="lp-prices-loader">
                    <i class="fas fa-spinner"></i>
                </p>

                <table ng-show="prices" class="table table-bordered table-striped">

                    <thead>
                        <tr>
                            <th>№</th>

                            <th ng-click="sortSet('name')">
                                <span>Наименование</span>
                                <i class="fas fa-sort" ng-show="sortBy != 'name'"></i>
                                <i class="fas fa-sort-up" ng-show="sortBy == 'name' && !sortRev"></i>
                                <i class="fas fa-sort-down" ng-show="sortBy == 'name' && sortRev"></i>
                            </th>

                            <th ng-click="sortSet('price')">
                                <span>Цена</span>
                                <i class="fas fa-sort" ng-show="sortBy != 'price'"></i>
                                <i class="fas fa-sort-up" ng-show="sortBy == 'price' && !sortRev"></i>
                                <i class="fas fa-sort-down" ng-show="sortBy == 'price' && sortRev"></i>
                            </th>

                            <th ng-click="sortSet('discount')">
                                <span>Скидка</span>
                                <i class="fas fa-sort" ng-show="sortBy != 'discount'"></i>
                                <i class="fas fa-sort-up" ng-show="sortBy == 'discount' && !sortRev"></i>
                                <i class="fas fa-sort-down" ng-show="sortBy == 'discount' && sortRev"></i>
                            </th>

                            <th ng-click="sortSet('price2')">
                                <span>Цена со скидкой</span>
                                <i class="fas fa-sort" ng-show="sortBy != 'price2'"></i>
                                <i class="fas fa-sort-up" ng-show="sortBy == 'price2' && !sortRev"></i>
                                <i class="fas fa-sort-down" ng-show="sortBy == 'price2' && sortRev"></i>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="price in prices | orderBy:sortBy:sortRev">
                            <td>{{$index + 1}}</td>
                            <td>
                                <span>{{price.name}}</span>
                                <i ng-show="price.discount" class="fas fa-tag"></i>
                            </td>
                            <td>{{price.price | currency}}</td>
                            <td>
                                <span ng-show="price.discount">{{price.discount * 100 | number:0}}%</span>
                                <span ng-hide="price.discount">-</span>
                            </td>
                            <td>{{price.price2 | currency}}</td>
                        </tr>
                    </tbody>

                </table>

                <p ng-show="reqStatus || reqStatusText" class="alert alert-danger">При загрузке данных произошла ошибка {{reqStatus}} {{reqStatusText}}</p>

            </div>
        </div>
    </section>

    <section id="contacts">
        <div class="container">
            <div class="lp-content">
                <h2>Контакты</h2>
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Карта проезда</h2>
                        <div id="lp-map"></div>
                    </div>
                    <div class="col-sm-6">
                        <div id="lp-fb2">
                            <h2>Обратная связь</h2>
                            <p>Заполните контактные данные, и мы свяжемся с вами в кратчайшие сроки:</p>
                            <input pattern="[ETOPAHKXCBM]{2}\d{7}" type="text" maxlength="50" name="Имя" placeholder="Ваше Имя..." />
                            <input type="tel" maxlength="50" name="Телефон" placeholder="Ваш Телефон..." required />
                            <input type="email" maxlength="50" name="Почта" placeholder="Ваш E-mail..." />
                            <textarea maxlength="500" name="Сообщение" placeholder="Сообщение..."></textarea>
                            <button>Отправить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>© Landing Page 2019</p>
        </div>
    </footer>

    <div id="lp-srv1" class="mfp-hide lp-popup">
        <h2>Описание услуги 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptas, totam! Veritatis quas ab vero, dolores repellat autem, hic minus quasi perspiciatis animi ipsam eius, corporis fugit optio quis porro!</p>
    </div>

    <div id="lp-srv2" class="mfp-hide lp-popup">
        <h2>Описание услуги 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius nisi magnam beatae deserunt qui quaerat sint quo voluptatum fugit voluptates nihil exercitationem perferendis facere, ipsum asperiores ipsa corporis necessitatibus assumenda.</p>
    </div>

    <div id="lp-srv3" class="mfp-hide lp-popup">
        <h2>Описание услуги 3</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente nam, porro. Harum ipsam dolorum, itaque temporibus dolorem iusto at accusamus accusantium possimus labore, ipsa explicabo repudiandae recusandae odio sunt necessitatibus.</p>
    </div>

    <div id="lp-srv4" class="mfp-hide lp-popup">
        <h2>Описание услуги 4</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta quam quisquam vero aperiam, ad animi enim? Adipisci reprehenderit explicabo eum ipsum dolore recusandae, aut quas? Consequuntur expedita, recusandae velit. Incidunt.</p>
    </div>

    <div id="lp-fb1" class="mfp-hide">
        <h2>Заказать консультацию</h2>
        <p>Заполните контактные данные, и мы свяжемся с вами в кратчайшие сроки:</p>
        <input type="text" maxlength="50" name="Имя" placeholder="Ваше Имя..." />
        <input type="tel" maxlength="50" name="Телефон" placeholder="Ваш Телефон..." required />
        <button>Перезвоните мне</button>
    </div>

</body>

</html>
